.list-bg-img {
    background-image: linear-gradient( rgba(0, 0, 0, 0.246), rgba(0, 0, 0, 0.5)), url("/images/brickwall.png");
    background-position: center center;
    background-repeat: repeat;
 }